<!-- FIX Alert  -->
<section class="d-grid gap-3">
	<h2 class="h1">Alert</h2>
	<!-- FIX Alert defoult -->
	<h4 class="mt-4">Alert defoult</h4>
	<!-- =========== secondary-->
	<div class="alert alert-secondary qela-alert fade show" role="alert">
		<span class="ic-alert-triangle text-secondary"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#">Підтвердити</a>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>
	<div class="alert alert-secondary px-3 qela-alert fade show" role="alert">
		<div class="mb-2 d-flex gap-1">
			<span class="ic-alert-triangle text-secondary position-static"></span>
			Увага! Підписка тільки на місяць
		</div>
		<a href="#" class="btn btn-secondary btn-sm">Підтвердити</a>
	</div>
	<div class="alert alert-secondary px-3 qela-alert fade show d-flex justify-content-between" role="alert">
		<div class="mb-2 d-flex gap-1">
			<span class="ic-alert-triangle text-secondary position-static"></span>
			Увага! Підписка тільки на місяць
		</div>
		<a href="#" class="btn btn-secondary btn-sm">Підтвердити</a>
	</div>
	<!-- =========== danger-->
	<div class="alert alert-danger qela-alert fade show" role="alert">
		<span class="ic-error-warning-fill text-danger"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#" class="text-danger">Підтвердити</a>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>
	<div class="alert alert-danger px-3 qela-alert fade show" role="alert">
		<div class="mb-2 d-flex gap-1">
			<span class="ic-error-warning-fill text-danger position-static"></span>
			Увага! Підписка тільки на місяць
		</div>
		<a href="#" class="btn btn-danger btn-sm">Підтвердити</a>
	</div>
	<div class="alert alert-danger px-3 qela-alert fade show d-flex justify-content-between" role="alert">
		<div class="mb-2 d-flex gap-1">
			<span class="ic-error-warning-fill text-danger position-static"></span>
			Увага! Підписка тільки на місяць
		</div>
		<a href="#" class="btn btn-danger btn-sm">Підтвердити</a>
	</div>
	<!-- =========== warning-->
	<div class="alert alert-warning qela-alert fade show" role="alert">
		<span class="ic-error-warning-fill text-warning"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#" class="text-warning">Підтвердити</a>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>
	<div class="alert alert-warning px-3 qela-alert fade show" role="alert">
		<div class="mb-2 d-flex gap-1">
			<span class="ic-error-warning-fill text-warning position-static"></span>
			Увага! Підписка тільки на місяць
		</div>
		<a href="#" class="btn btn-warning btn-sm">Підтвердити</a>
	</div>
	<div class="alert alert-warning px-3 qela-alert fade show d-flex justify-content-between" role="alert">
		<div class="mb-2 d-flex gap-1">
			<span class="ic-error-warning-fill text-warning position-static"></span>
			Увага! Підписка тільки на місяць
		</div>
		<a href="#" class="btn btn-warning btn-sm">Підтвердити</a>
	</div>
	<!-- =========== info-->
	<div class="alert alert-info qela-alert fade show" role="alert">
		<span class="ic-alert-triangle text-secondary"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#">Підтвердити</a>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>
	<div class="alert alert-info px-3 qela-alert fade show" role="alert">
		<div class="mb-2 d-flex gap-1">
			<span class="ic-alert-triangle text-secondary position-static"></span>
			Увага! Підписка тільки на місяць
		</div>
		<a href="#" class="btn btn-secondary btn-sm">Підтвердити</a>
	</div>
	<div class="alert alert-info px-3 qela-alert fade show d-flex justify-content-between" role="alert">
		<div class="mb-2 d-flex gap-1">
			<span class="ic-alert-triangle text-secondary position-static"></span>
			Увага! Підписка тільки на місяць
		</div>
		<a href="#" class="btn btn-secondary btn-sm">Підтвердити</a>
	</div>
	<!-- =========== success-->
	<div class="alert alert-success qela-alert fade show" role="alert">
		<span class="ic-check-filled text-success"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#" class="text-success-700">Підтвердити</a>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>
	<div class="alert alert-success px-3 qela-alert fade show" role="alert">
		<div class="mb-2 d-flex gap-1">
			<span class="ic-check-filled text-success position-static"></span>
			Увага! Підписка тільки на місяць
		</div>
		<a href="#" class="btn btn-success btn-sm">Підтвердити</a>
	</div>
	<div class="alert alert-success px-3 qela-alert fade show d-flex justify-content-between" role="alert">
		<div class="mb-2 d-flex gap-1">
			<span class="ic-check-filled text-success position-static"></span>
			Увага! Підписка тільки на місяць
		</div>
		<a href="#" class="btn btn-success btn-sm">Підтвердити</a>
	</div>
	<!-- =============== -->
	<div class="alert alert-info qela-alert p-3 fade show" role="alert">
		<p>☝️Official Address of checkpoint</p>
		<p class="m-0">
			<small>Displayed to users on quest Quest conditions screen lake official
				recognizable name of location</small>
		</p>
	</div>
	<!-- FIX Alert small -->
	<h4 class="mt-4">Alert small</h4>
	<div class="alert alert-secondary qela-alert fade show small" role="alert">
		<span class="ic-alert-triangle text-secondary"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#">Підтвердити</a>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>
	<div class="alert alert-danger qela-alert fade show small" role="alert">
		<span class="ic-error-warning-fill text-danger"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#" class="text-danger">Підтвердити</a>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>
	<div class="alert alert-warning qela-alert fade show small" role="alert">
		<span class="ic-error-warning-fill text-warning"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#" class="text-warning">Підтвердити</a>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>
	<div class="alert alert-info qela-alert fade show small" role="alert">
		<span class="ic-error-warning-fill text-secondary"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#">Підтвердити</a>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>
	<!-- =========== secondary custom-->
	<div class="alert alert-secondary qela-alert custom fade show" role="alert">
		<span class="ic-success text-secondary"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#">Підтвердити</a>
	</div>
</section>