<!--FIX menu -->
<aside class="qela-menu">
    <!--FIX buttons -->
    <button type="button" class="ic-chevron-left qela-btn-menu"></button>
    <!-- <button type="button" class="ic-cloze p-2 border-0 position-absolute qela-btn-close" aria-label="Close"></button> -->
    <nav class="qela-nav qela-scroll-custom">
        <!--FIX mobile search -->
        <!-- <form class="qela-search mobile" role="search">
            <div class="input-group">
                <button class="btn btn-input ic-search" type="button" id="button-search"></button>
                <input type="search" class="form-control" placeholder="Пошук" aria-label="Search" aria-describedby="button-search" />
            </div>
        </form> -->
        <!--FIX mobile user -->
        <!-- <div class="row qela-user mobile">
            <div class="col">
                <img class="rounded-circle" src="img/header/user.jpg" width="40" height="40" alt="user" />
                <span class="fw-semibold fs-5"><small>Uzer Name</small></span>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-info ico ic-log-out"></button>
            </div>
        </div> -->
        <!--FIX nav wrapper -->
        <div class="qela-nav-wrapper">
            <ul class="nav">
                <li class="nav-item qela-clamp">
                    <a href="#" class="nav-link active" aria-current="page">
                        <small class="ic-spead">Дашборд</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page">
                        <small class="ic-people">Користувачі</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page">
                        <small class="ic-box-arrow">
                            Покроковий ґайд
                        </small>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page">
                        <small class="ic-notes">Новини</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page">
                        <small class="ic-calendar">Квести</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page">
                        <span class="badge rounded-pill text-bg-danger qela-badge small">25</span>
                        <small class="ic-dollar ">
                            Донати
                        </small>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page">
                        <small class="ic-lattice">Теги</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page">
                        <small class="ic-speaker">Маркетинг</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page">
                        <small class="ic-jostik">Гейміфікація</small>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page">
                        <small class="ic-city">Організація</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page">
                        <small class="ic-tent">Магазин</small>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page">
                        <small class="ic-settings">Налаштування</small>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>