<!-- FIX Avatars  -->
<section class="d-grid gap-3">
  <h2 class="h1 mt-4">Avatars</h2>
  <!-- FIX Avatars 100-->
  <h4>Avatars 100</h4>
  <div class="d-inline-flex gap-2 flex-wrap">
    <a
      href="#"
      class="qela-avatar ql-ibg border-0 online"
      style="--img-size: 100px"
    >
      <img src="img/avatar.jpg" width="100" height="100" alt="#" />
    </a>
    <a
      href="#"
      class="qela-avatar ql-ibg bg-secondary text-white border-0"
      style="--img-size: 100px"
    >
      J
    </a>
    <a
      href="#"
      class="qela-avatar ql-ibg bg-white border-0"
      style="--img-size: 100px"
    >
      <img src="img/type-logo.svg" width="100" height="100" alt="#" />
    </a>
    <a href="#" class="qela-avatar bg-white" style="--img-size: 100px">
      <span class="ic-img-plus text-info-500"></span>
    </a>
  </div>
  <!-- FIX Avatars 70-->
  <h4>Avatars 70</h4>
  <div class="d-inline-flex gap-2 flex-wrap">
    <a href="#" class="qela-avatar ql-ibg border-0" style="--img-size: 70px">
      <img src="img/avatar.jpg" width="70" height="70" alt="#" />
    </a>
    <a
      href="#"
      class="qela-avatar ql-ibg bg-secondary text-white border-0"
      style="--img-size: 70px"
    >
      J
    </a>
    <a
      href="#"
      class="qela-avatar ql-ibg bg-white border-0"
      style="--img-size: 70px"
    >
      <img src="img/type-logo.svg" width="70" height="70" alt="#" />
    </a>
  </div>
  <!-- FIX Avatars 40-->
  <h4>Avatars 40</h4>
  <div class="d-inline-flex gap-2 flex-wrap">
    <a
      href="#"
      class="qela-avatar ql-ibg border-2 online-sm"
      style="--img-size: 40px"
    >
      <img src="img/avatar.jpg" width="40" height="40" alt="#" />
    </a>
    <a
      href="#"
      class="qela-avatar ql-ibg bg-secondary text-white border-0 fs-6"
      style="--img-size: 40px"
    >
      <small>J</small>
    </a>
    <a
      href="#"
      class="qela-avatar ql-ibg bg-white border-2"
      style="--img-size: 40px"
    >
      <img src="img/type-logo.svg" width="40" height="40" alt="#" />
    </a>
  </div>
  <!-- FIX Avatars 30-->
  <h4>Avatars 30</h4>
  <div class="d-inline-flex gap-2 flex-wrap">
    <a href="#" class="qela-avatar ql-ibg border-2" style="--img-size: 30px">
      <img src="img/avatar.jpg" width="30" height="30" alt="#" />
    </a>
    <a
      href="#"
      class="qela-avatar ql-ibg bg-secondary text-white border-0 fs-6"
      style="--img-size: 30px"
    >
      <small><small>J</small></small>
    </a>
    <a
      href="#"
      class="qela-avatar ql-ibg bg-white border-2"
      style="--img-size: 30px"
    >
      <img src="img/type-logo.svg" width="30" height="30" alt="#" />
    </a>
  </div>
  <!-- FIX Avatars 30 Users-->
  <h4>Avatars 30 (Users)</h4>
  <div class="d-inline-flex align-items-center qela-users">
    <a href="#" class="qela-avatar ql-ibg border-2" style="--img-size: 30px">
      <img src="img/avatar.jpg" width="30" height="30" alt="#" />
    </a>
    <a
      href="#"
      class="qela-avatar ql-ibg bg-secondary text-white border-0 fs-6"
      style="--img-size: 30px"
    >
      <small><small>J</small></small>
    </a>
    <a
      href="#"
      class="qela-avatar ql-ibg bg-white border-2"
      style="--img-size: 30px"
    >
      <img src="img/type-logo.svg" width="30" height="30" alt="#" />
    </a>
    <span class="text-info-900 ms-2">120</span>
  </div>
</section>
