<!-- FIX Badges  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Badge</h2>
	<!-- FIX Default badges  -->
	<h4>Default badges</h4>
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge bg-primary text-black">Primary</span>
		<span class="badge bg-secondary">Secondary</span>
		<span class="badge bg-success">Success</span>
		<span class="badge bg-danger">Danger</span>
		<span class="badge bg-warning">Warning</span>
		<span class="badge bg-info-100 text-info-700">Info</span>
		<span class="badge bg-white text-info-900">Light</span>
	</div>
	<!-- Default badges whith icon -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge bg-primary text-black ic-cloze">Primary</span>
		<span class="badge bg-secondary ic-cloze">Secondary</span>
		<span class="badge bg-success ic-cloze">Success</span>
		<span class="badge bg-danger ic-cloze">Danger</span>
		<span class="badge bg-warning ic-cloze">Warning</span>
		<span class="badge bg-info-100 text-info-700 ic-cloze">Info</span>
		<span class="badge bg-white text-info-900 ic-cloze">Light</span>
	</div>
	<!-- Default badges custom -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge qela-badge-primary">Primary</span>
		<span class="badge qela-badge-secondary">Secondary</span>
		<span class="badge qela-badge-danger">Danger</span>
		<span class="badge qela-badge-success">Success</span>
		<span class="badge qela-badge-warning">Warning</span>
		<span class="badge bg-info-100 text-info-700">Info</span>
		<span class="badge bg-white text-info-900">Light</span>
	</div>
	<!-- Default badges custom with icon -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge qela-badge-primary ic-cloze">Primary</span>
		<span class="badge qela-badge-secondary ic-cloze">Secondary</span>
		<span class="badge qela-badge-danger ic-cloze">Danger</span>
		<span class="badge qela-badge-success ic-cloze">Success</span>
		<span class="badge qela-badge-warning ic-cloze">Warning</span>
		<span class="badge bg-info-100 text-info-700 ic-cloze">Info</span>
		<span class="badge bg-white text-info-900 ic-cloze">Light</span>
	</div>
	<!-- Large badges -->
	<h4>Large badges</h4>
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge bg-primary text-black large">Primary</span>
		<span class="badge bg-secondary large">Secondary</span>
		<span class="badge bg-success large">Success</span>
		<span class="badge bg-danger large">Danger</span>
		<span class="badge bg-warning large">Warning</span>
		<span class="badge bg-info-100 text-info-700 large">Info</span>
		<span class="badge bg-white text-info-900 large">Light</span>
	</div>
	<!-- Large badges whith icon -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge bg-primary text-black large ic-cloze">Primary</span>
		<span class="badge bg-secondary large ic-cloze">Secondary</span>
		<span class="badge bg-success large ic-cloze">Success</span>
		<span class="badge bg-danger large ic-cloze">Danger</span>
		<span class="badge bg-warning large ic-cloze">Warning</span>
		<span class="badge bg-info-100 text-info-700 large ic-cloze">Info</span>
		<span class="badge bg-white text-info-900 large ic-cloze">Light</span>
	</div>
	<!-- Large badges custom -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge qela-badge-primary large">Primary</span>
		<span class="badge qela-badge-secondary large">Secondary</span>
		<span class="badge qela-badge-danger large">Danger</span>
		<span class="badge qela-badge-success large">Success</span>
		<span class="badge qela-badge-warning large">Warning</span>
		<span class="badge bg-info-100 text-info-700 large">Info</span>
		<span class="badge bg-white text-info-900 large">Light</span>
	</div>
	<!-- Large badges custom with icon -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge qela-badge-primary large ic-cloze">Primary</span>
		<span class="badge qela-badge-secondary large ic-cloze">Secondary</span>
		<span class="badge qela-badge-danger large ic-cloze">Danger</span>
		<span class="badge qela-badge-success large ic-cloze">Success</span>
		<span class="badge qela-badge-warning large ic-cloze">Warning</span>
		<span class="badge bg-info-100 text-info-700 large ic-cloze">Info</span>
		<span class="badge bg-white text-info-900 large ic-cloze">Light</span>
	</div>
	<h4>Large-xl badges</h4>
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge bg-primary text-black large-xl">Primary</span>
		<span class="badge bg-secondary large-xl">Secondary</span>
		<span class="badge bg-success large-xl">Success</span>
		<span class="badge bg-danger large-xl">Danger</span>
		<span class="badge bg-warning large-xl">Warning</span>
		<span class="badge bg-info-100 text-info-700 large-xl">Info</span>
		<span class="badge bg-white text-info-900 large-xl">Light</span>
	</div>
	<!-- Large-xl badges whith icon -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge bg-primary text-black large-xl ic-success">Primary</span>
		<span class="badge bg-secondary large-xl ic-success">Secondary</span>
		<span class="badge bg-success large-xl ic-success">Success</span>
		<span class="badge bg-danger large-xl ic-success">Danger</span>
		<span class="badge bg-warning large-xl ic-success">Warning</span>
		<span class="badge bg-info-100 text-info-700 large-xl ic-success">Info</span>
		<span class="badge bg-white text-info-900 large-xl ic-success">Light</span>
	</div>
	<!-- Large-xl badges custom -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge qela-badge-primary large-xl">Primary</span>
		<span class="badge qela-badge-secondary large-xl">Secondary</span>
		<span class="badge qela-badge-danger large-xl">Danger</span>
		<span class="badge qela-badge-success large-xl">Success</span>
		<span class="badge qela-badge-warning large-xl">Warning</span>
		<span class="badge bg-info-100 text-info-700 large-xl">Info</span>
		<span class="badge bg-white text-info-900 large-xl">Light</span>
	</div>
	<!-- Large-xl badges custom whith icon-->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge qela-badge-primary large-xl ic-success">Primary</span>
		<span class="badge qela-badge-secondary large-xl ic-success">Secondary</span>
		<span class="badge qela-badge-danger large-xl ic-success">Danger</span>
		<span class="badge qela-badge-success large-xl ic-success">Success</span>
		<span class="badge qela-badge-warning large-xl ic-success">Warning</span>
		<span class="badge bg-info-100 text-info-700 large-xl ic-success">Info</span>
		<span class="badge bg-white text-info-900 large-xl ic-success">Light</span>
	</div>
	<h4>Talents badges</h4>
	<div class="d-flex gap-2 flex-wrap align-items-start">
		<!-- Talents badges default-->
		<span class="badge qela-badge-telent text-red">10 000. 0</span>
		<span class="badge qela-badge-telent text-violet">10 000. 0</span>
		<span class="badge qela-badge-telent text-lightgreen">10 000. 0</span>
		<span class="badge qela-badge-telent text-orange">10 000. 0</span>
		<span class="badge qela-badge-telent text-green">10 000. 0</span>
		<span class="badge qela-badge-telent text-lightblue">10 000. 0</span>
		<span class="badge qela-badge-telent text-blue">10 000. 0</span>
		<span class="badge qela-badge-telent text-pink">10 000. 0</span>
		<span class="badge qela-badge-telent text-gray">10 000. 0</span>

		<span class="badge qela-badge-telent vote">10 000. 0</span>
		<!-- Talents badges default with icon-->
		<span class="badge qela-badge-telent text-red ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-violet ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-lightgreen ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-orange ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-green ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-lightblue ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-blue ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-pink ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-gray ic-cloze">10 000. 0</span>

		<span class="badge qela-badge-telent vote ic-cloze">10 000. 0</span>
	</div>
	<hr />
	<div class="d-flex gap-2 flex-wrap align-items-start">
		<!-- Talents badges large-->
		<span class="badge qela-badge-telent text-red large">10 000. 0</span>
		<span class="badge qela-badge-telent text-violet large">10 000. 0</span>
		<span class="badge qela-badge-telent text-lightgreen large">10 000. 0</span>
		<span class="badge qela-badge-telent text-orange large">10 000. 0</span>
		<span class="badge qela-badge-telent text-green large">10 000. 0</span>
		<span class="badge qela-badge-telent text-lightblue large">10 000. 0</span>
		<span class="badge qela-badge-telent text-blue large">10 000. 0</span>
		<span class="badge qela-badge-telent text-pink large">10 000. 0</span>
		<span class="badge qela-badge-telent text-gray large">10 000. 0</span>

		<span class="badge qela-badge-telent large vote">10 000. 0</span>
		<!-- Talents badges large with icon-->
		<span class="badge qela-badge-telent text-red large ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-violet large ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-lightgreen large ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-orange large ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-green large ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-lightblue large ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-blue large ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-pink large ic-cloze">10 000. 0</span>
		<span class="badge qela-badge-telent text-gray large ic-cloze">10 000. 0</span>

		<span class="badge qela-badge-telent large vote ic-cloze">10 000. 0</span>
	</div>
	<hr />
	<div class="d-flex gap-2 flex-wrap align-items-start">
		<!-- Talents badges large xl-->
		<span class="badge qela-badge-telent text-red large-xl">10 000. 0</span>
		<span class="badge qela-badge-telent text-violet large-xl">10 000. 0</span>
		<span class="badge qela-badge-telent text-lightgreen large-xl">10 000. 0</span>
		<span class="badge qela-badge-telent text-orange large-xl">10 000. 0</span>
		<span class="badge qela-badge-telent text-green large-xl">10 000. 0</span>
		<span class="badge qela-badge-telent text-lightblue large-xl">10 000. 0</span>
		<span class="badge qela-badge-telent text-blue large-xl">10 000. 0</span>
		<span class="badge qela-badge-telent text-pink large-xl">10 000. 0</span>
		<span class="badge qela-badge-telent text-gray large-xl">10 000. 0</span>

		<span class="badge qela-badge-telent large-xl vote">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl vote img">
			10 000. 0
			<img src="img/orden-red.svg" alt="orden-red" width="28" height="28" />
		</span>
	</div>
	<hr />
	<div class="d-flex gap-2 flex-wrap align-items-start">
		<span class="badge qela-badge-telent large-xl red">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl violet">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl lightgreen">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl orange">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl green">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl lightblue">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl blue">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl pink">10 000. 0</span>

		<span class="badge qela-badge-telent large-xl red ic-edit">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl violet ic-edit">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl lightgreen ic-edit">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl orange ic-edit">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl green ic-edit">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl lightblue ic-edit">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl blue ic-edit">10 000. 0</span>
		<span class="badge qela-badge-telent large-xl pink ic-edit">10 000. 0</span>
	</div>
	<!-- FIX Pill badges small -->
	<h4>Custom badges small</h4>
	<div class="d-flex gap-2 flex-wrap align-items-start">
		<span class="badge bg-primary px-2 py-1 text-info-900 fs-6 fw-normal"><small>Primary</small></span>
		<span class="badge bg-info-200 px-2 py-1 text-info-900 fs-6 fw-normal"><small>Info</small></span>
		<span class="badge bg-secondary message">Just Added</span>
		<span class="badge qela-badge item">Branch #1</span>
	</div>
	<!-- FIX Pill badges small -->
	<h4>Pill badges small</h4>
	<div>
		<span class="badge rounded-pill text-bg-danger qela-badge small">Danger</span>
	</div>
	<!-- FIX badge container -->
	<h4>Badge container</h4>
	<div>
		<div>
			<span class="badge rounded-pill text-bg-danger qela-badge small">Danger</span>
		</div>
	</div>
</section>