<!-- FIX Img-preview  -->
<section class="d-grid gap-3">
  <h2 class="h1 mt-4">Img-preview</h2>
  <h4>Large</h4>
  <div class="d-flex gap-2">
    <div class="ql-previews ql-ibg ql-lg">
      <img src="img/table-img-1.jpg" alt="" />
    </div>
    <div class="ql-previews ql-ibg ql-lg current">
      <img src="img/table-img-1.jpg" alt="" />
    </div>
    <div class="ql-previews ql-ibg ql-lg disabled">
      <img src="img/table-img-1.jpg" alt="" />
    </div>
    <div class="ql-previews ql-icon ql-lg ic-text-doc"></div>
    <div class="ql-previews ql-icon ql-lg ic-text-doc current"></div>
    <div class="ql-previews ql-icon ql-lg ic-text-doc disabled"></div>
    <div class="ql-previews ql-text ql-lg">+2</div>
    <div class="ql-previews ql-text ql-lg current">+2</div>
    <div class="ql-previews ql-text ql-lg disabled">+2</div>
  </div>
  <h4>Default</h4>
  <div class="d-flex gap-2">
    <div class="ql-previews ql-ibg">
      <img src="img/table-img-1.jpg" alt="" />
    </div>
    <div class="ql-previews ql-ibg current">
      <img src="img/table-img-1.jpg" alt="" />
    </div>
    <div class="ql-previews ql-ibg disabled">
      <img src="img/table-img-1.jpg" alt="" />
    </div>
    <div class="ql-previews ql-icon ic-text-doc"></div>
    <div class="ql-previews ql-icon ic-text-doc current"></div>
    <div class="ql-previews ql-icon ic-text-doc disabled"></div>
    <div class="ql-previews ql-text">+2</div>
    <div class="ql-previews ql-text current">+2</div>
    <div class="ql-previews ql-text disabled">+2</div>
  </div>
  <h4>Small</h4>
  <div class="d-flex gap-2">
    <div class="ql-previews ql-ibg ql-sm">
      <img src="img/table-img-1.jpg" alt="" />
    </div>
    <div class="ql-previews ql-ibg ql-sm current">
      <img src="img/table-img-1.jpg" alt="" />
    </div>
    <div class="ql-previews ql-ibg ql-sm disabled">
      <img src="img/table-img-1.jpg" alt="" />
    </div>
    <div class="ql-previews ql-icon ql-sm ic-text-doc"></div>
    <div class="ql-previews ql-icon ql-sm ic-text-doc current"></div>
    <div class="ql-previews ql-icon ql-sm ic-text-doc disabled"></div>
    <div class="ql-previews ql-text ql-sm">+2</div>
    <div class="ql-previews ql-text ql-sm current">+2</div>
    <div class="ql-previews ql-text ql-sm disabled">+2</div>
  </div>
  <h4>layouts</h4>
  <div class="d-flex gap-2 flex-wrap mb-2">
    <a href="#" class="ql-previews ql-ibg">
      <img src="img/table-img-1.jpg" alt="" />
    </a>
    <a href="#" class="ql-previews ql-text">+2</a>
  </div>
  <div class="mb-2">
    <div class="d-inline-flex bg-info-100 p-1 rounded-2">
      <a href="#" class="ql-ibg ql-previews" style="--img-size: 38px">
        <img
          class="rounded-3"
          src="img/table-img-1.jpg"
          width="38"
          height="38"
          alt=""
        />
      </a>
      <a href="#" class="ql-ibg ql-previews" style="--img-size: 38px">
        <img
          class="rounded-3"
          src="img/table-img-2.jpg"
          width="38"
          height="38"
          alt=""
        />
      </a>
      <a
        href="#"
        class="ql-previews qela-empty rounded-3"
        style="--img-size: 38px"
      >
        2+
      </a>
    </div>
  </div>
  <div>
    <div class="d-inline-flex w-100 bg-info-100 p-1 rounded-2">
      <a
        href="#"
        class="ql-previews qela-empty rounded-3"
        style="--img-size: 38px"
      >
        2+
      </a>
    </div>
  </div>
</section>
