<!-- FIX Img-preview  -->
<h2 class="h1 mt-4" id="h3Btn22">Img-preview</h2>
<h4>Large</h4>
<div class="d-flex gap-2">
    <div class=" qela-previews qela-ibg img large">
        <img src="img/table-img-1.jpg" alt="" />
    </div>
    <div class="qela-previews bg-info-400 text-white ic-img large img"></div>
    <div class="qela-previews bg-info-400 text-white ic-files large img"></div>
</div>
<h4>Default</h4>
<div class="d-flex gap-2">
    <div class="qela-ibg qela-previews img">
        <img class="rounded" src="img/table-img-1.jpg" alt="" />
    </div>
    <div class="qela-previews bg-info-400 text-white rounded ic-img img"></div>
    <div class="qela-previews bg-info-400 text-white rounded ic-files img"></div>
</div>
<h4>Small</h4>
<div class="d-flex gap-2">
    <div class="qela-ibg qela-previews large img small">
        <img class="rounded" src="img/table-img-1.jpg" alt="" />
    </div>
    <div class="qela-previews bg-info-400 text-white rounded ic-img small img"></div>
    <div class="qela-previews bg-info-400 text-white rounded ic-files small img"></div>
</div>
<h4>layouts</h4>
<div class="d-flex gap-2 flex-wrap">
	<a href="#" class="qela-ibg qela-previews" style="--img-size: 38px">
		<img class="rounded-3" src="img/table-img-1.jpg" width="38" height="38" alt="" />
	</a>
	<a href="#" class="qela-previews qela-empty rounded-3" style="--img-size: 38px"> 2+ </a>
</div>
<div class="mb-2">
	<div class="d-inline-flex bg-info-100 p-1 rounded-2">
		<a href="#" class="qela-ibg qela-previews" style="--img-size: 38px">
			<img class="rounded-3" src="img/table-img-1.jpg" width="38" height="38" alt="" />
		</a>
		<a href="#" class="qela-ibg qela-previews" style="--img-size: 38px">
			<img class="rounded-3" src="img/table-img-2.jpg" width="38" height="38" alt="" />
		</a>
		<a href="#" class="qela-previews qela-empty rounded-3" style="--img-size: 38px"> 2+ </a>
	</div>
</div>
<div>
	<div class="d-inline-flex w-100 bg-info-100 p-1 rounded-2">
		<a href="#" class="qela-previews qela-empty rounded-3" style="--img-size: 38px"> 2+ </a>
	</div>
</div>
