<!-- FIX Status  -->
<section class="d-grid gap-3">
  <h2 class="h1 mt-4">Status</h2>
  <small class="tetx-info"
    >Status: <span class="text-warning">Draft</span></small
  >
  <small class="tetx-info"
    >Status: <span class="text-success">Published</span></small
  >
  <small class="tetx-info"
    >Status: <span class="text-info-900">New</span></small
  >
  <h2 class="h3 mt-4">Status badge</h2>
  <div>
    <span class="qela-status-badge secondary circel ic-key"></span>
    <span class="qela-status-badge secondary ic-key">superadmin</span>
    <span class="qela-status-badge success circel ic-diamond-24"></span>
    <span class="qela-status-badge success ic-diamond-24">quests-admin</span>
    <span class="qela-status-badge warning circel ic-diamond-24"></span>
    <span class="qela-status-badge warning ic-diamond-24"
      >branch-super-admin</span
    >
    <span class="qela-status-badge success circel ic-voting"></span>
    <span class="qela-status-badge success ic-voting">voting-admin</span>
    <span class="qela-status-badge success circel ic-people"></span>
    <span class="qela-status-badge success ic-people">users-admin</span>
    <span class="qela-status-badge secondary circel ic-branch"></span>
    <span class="qela-status-badge secondary ic-branch">branch-superadmin</span>
  </div>
</section>
