<!-- FIX Telents  -->
<section class="d-grid gap-3">
  <h2 class="h1 mt-4">Telents</h2>
  <!-- awards item red-->
  <div class="qela-telent red">Recruiting</div>
  <!-- awards item violet-->
  <div class="qela-telent violet">Recruiting</div>
  <!-- awards item green-->
  <div class="qela-telent green">Endurance</div>
  <!-- awards item orange-->
  <div class="qela-telent orange">Eloquence</div>
  <!-- awards item lightgreen-->
  <div class="qela-telent lightgreen">Determination</div>
  <!-- awards item lightblue-->
  <div class="qela-telent lightblue">Originality</div>
  <!-- awards item blue-->
  <div class="qela-telent blue">Management</div>
  <!-- awards item pink-->
  <div class="qela-telent pink">Savvy</div>
  <!-- awards item outline-red-->
  <div class="qela-telent outline-red">Fundraising</div>
  <!-- awards item outline-violet-->
  <div class="qela-telent outline-violet">Recruiting</div>
  <!-- awards item outline-lightgreen-->
  <div class="qela-telent outline-lightgreen">Endurance</div>
  <!-- awards item outline-red-->
  <div class="qela-telent outline-orange">Endurance</div>
  <!-- awards item outline-green-->
  <div class="qela-telent outline-green">Determination</div>
  <!-- awards item outline-lightblue-->
  <div class="qela-telent outline-lightblue">Originality</div>
  <!-- awards item outline-blue-->
  <div class="qela-telent outline-blue">Management</div>
  <!-- awards item outline-pink-->
  <div class="qela-telent outline-pink">Savvy</div>
  <!-- telent text-->
  <div class="qela-telent-text red">Originality</div>
  <div class="qela-telent-text violet">Originality</div>
  <div class="qela-telent-text green">Originality</div>
  <div class="qela-telent-text orange">Originality</div>
  <div class="qela-telent-text lightgreen">Originality</div>
  <div class="qela-telent-text lightblue">Originality</div>
  <div class="qela-telent-text blue">Originality</div>
  <div class="qela-telent-text pink">Originality</div>
  <!-- telents list group  -->
  <h4 class="mt-4">Telents default</h4>
  <ul class="list-group qela-list-telents">
    <li class="list-group-item outline-red">
      <span class="badge qela-badge-telent text-red">F</span>
      <span>Fundraising</span>
      <span class="badge qela-badge-telent red">10. 0</span>
    </li>
    <li class="list-group-item outline-violet">
      <span class="badge qela-badge-telent text-violet">R</span>
      <span>Recruiting</span>
      <span class="badge qela-badge-telent violet">10 000. 0</span>
    </li>
    <li class="list-group-item outline-green">
      <span class="badge qela-badge-telent text-green">E</span>
      <span>Endurance</span>
      <span class="badge qela-badge-telent green">10 000. 0</span>
    </li>
    <li class="list-group-item outline-orange">
      <span class="badge qela-badge-telent text-orange">E</span>
      <span>Eloquence</span>
      <span class="badge qela-badge-telent orange">100. 0</span>
    </li>
    <li class="list-group-item outline-lightgreen">
      <span class="badge qela-badge-telent text-lightgreen">D</span>
      <span>Determination</span>
      <span class="badge qela-badge-telent lightgreen">10 000. 0</span>
    </li>
    <li class="list-group-item outline-lightblue">
      <span class="badge qela-badge-telent text-lightblue">O</span>
      <span>Originality</span>
      <span class="badge qela-badge-telent lightblue">10 000. 0</span>
    </li>
    <li class="list-group-item outline-blue">
      <span class="badge qela-badge-telent text-blue">M</span>
      <span>Management</span>
      <span class="badge qela-badge-telent blue">100. 0</span>
    </li>
    <li class="list-group-item outline-pink">
      <span class="badge qela-badge-telent text-pink">S</span>
      <span>Savvy</span>
      <span class="badge qela-badge-telent pink">10 000. 0</span>
    </li>
  </ul>
  <h4 class="mt-4">Telents large-xl</h4>
  <ul class="list-group qela-list-telents">
    <li class="list-group-item outline-red">
      <span class="badge qela-badge-telent large-xl text-red">F</span>
      <span>Fundraising</span>
      <span class="badge qela-badge-telent large-xl red ic-edit">10. 0</span>
    </li>
    <li class="list-group-item outline-violet">
      <span class="badge qela-badge-telent large-xl text-violet">R</span>
      <span>Recruiting</span>
      <span class="badge qela-badge-telent large-xl violet ic-edit"
        >10 000. 0</span
      >
    </li>
    <li class="list-group-item outline-green">
      <span class="badge qela-badge-telent large-xl text-green">E</span>
      <span>Endurance</span>
      <span class="badge qela-badge-telent large-xl green ic-edit"
        >10 000. 0</span
      >
    </li>
    <li class="list-group-item outline-orange">
      <span class="badge qela-badge-telent large-xl text-orange">E</span>
      <span>Eloquence</span>
      <span class="badge qela-badge-telent large-xl orange ic-edit"
        >100. 0</span
      >
    </li>
    <li class="list-group-item outline-lightgreen">
      <span class="badge qela-badge-telent large-xl text-lightgreen">D</span>
      <span>Determination</span>
      <span class="badge qela-badge-telent large-xl lightgreen ic-edit"
        >10 000. 0</span
      >
    </li>
    <li class="list-group-item outline-lightblue">
      <span class="badge qela-badge-telent large-xl text-lightblue">O</span>
      <span>Originality</span>
      <span class="badge qela-badge-telent large-xl lightblue ic-edit"
        >10 000. 0</span
      >
    </li>
    <li class="list-group-item outline-blue">
      <span class="badge qela-badge-telent large-xl text-blue">M</span>
      <span>Management</span>
      <span class="badge qela-badge-telent large-xl blue ic-edit">100. 0</span>
    </li>
    <li class="list-group-item outline-pink">
      <span class="badge qela-badge-telent large-xl text-pink">S</span>
      <span>Savvy</span>
      <span class="badge qela-badge-telent large-xl pink ic-edit"
        >10 000. 0</span
      >
    </li>
  </ul>
</section>
